.tab{
   -fx-padding: 0 10 0 10;
}
.tab {
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color-opacity : 50;
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-effect: innershadow(two-pass-box , transparent , 0, 0.0 , 0 , 0);
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-effect: null;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
